<<<<<<< HEAD
.quadro{
	font-weight: bold;
	padding: 10px;
    border: 0;
    outline: 0;
	color: #FFFFFF;
	margin-left: 60px;
	margin-right: 60px;
	margin-top: 105px;
	padding-top: 400px;
	padding-bottom:  222px;
	background-color: #f8f8f8;

	}

.carrinho{
	font-size: 24px;
	color:#000000;
	margin-top: -385px;
	margin-left: 15px;
}

.bt_produtos{
	text-align: center;
	font-weight: bold;
	padding: 10px;
	cursor: pointer;
    border: 0;
    outline: 0;
	color: #FFFFFF;
	margin-left: 15px;
	margin-right: 1125px;
	margin-top: 7px;
	background-color: #FF6700;
	display: block;
}
.bt_produtos:hover{
	color: #FFFFFF;
	background-color: #ff8566;
}

.frete{
	background-color: #fb802d;
	margin-top: 10px;
	padding: 8px;
	margin-right: -10px;
	margin-left: -10px;
}

.caminhao{
margin-top: -8px;
margin-left: 10px;
}

.consulte{
margin-top: -25px;
margin-left: 55px;
color:#FFFFFF;
}

td{
	color:#000000;
}

.bkt01{
	margin-top: 30px;
=======
.quadro{
	font-weight: bold;
	padding: 10px;
    border: 0;
    outline: 0;
	color: #FFFFFF;
	margin-left: 60px;
	margin-right: 60px;
	margin-top: 105px;
	padding-top: 400px;
	padding-bottom:  222px;
	background-color: #f8f8f8;

	}

.carrinho{
	font-size: 24px;
	color:#000000;
	margin-top: -385px;
	margin-left: 15px;
}

.bt_produtos{
	text-align: center;
	font-weight: bold;
	padding: 10px;
	cursor: pointer;
    border: 0;
    outline: 0;
	color: #FFFFFF;
	margin-left: 15px;
	margin-right: 1125px;
	margin-top: 7px;
	background-color: #FF6700;
	display: block;
}
.bt_produtos:hover{
	color: #FFFFFF;
	background-color: #ff8566;
}

.frete{
	background-color: #fb802d;
	margin-top: 10px;
	padding: 8px;
	margin-right: -10px;
	margin-left: -10px;
}

.caminhao{
margin-top: -8px;
margin-left: 10px;
}

.consulte{
margin-top: -25px;
margin-left: 55px;
color:#FFFFFF;
}

td{
	color:#000000;
}

.bkt01{
	margin-top: 30px;
>>>>>>> fe1901e78af69f4f3305377d504ef009e4570776
}