.carrinho{
	font-size: 24px;
	color:#000000;
	margin-top: -385px;
	margin-left: 15px;
}

.bt_produtos{
	text-align: center;
	font-weight: bold;
	padding: 10px;
	cursor: pointer;
    border: 0;
    outline: 0;
	width: max-content;
	color: #FFFFFF;
	margin: 10px 15px;
	background-color: #FF6700;
	display: block;
	max-width: -moz-fit-content;
	max-width: -webkit-fit-content;
	max-width: fit-content;
}
.bt_produtos:hover{
	color: #FFFFFF;
	background-color: #ff8566;
}

.frete{
	background-color: #fb802d;
	margin: 10px auto;
	padding: 8px;
	max-width: -moz-fit-content;
	max-width: -webkit-fit-content;
	max-width: fit-content;
}

.quadro{
	font-weight: bold;
	padding: 10px;
    border: 0;
    outline: 0;
	color: #FFFFFF;
	margin-left: 60px;
	margin-right: 60px;
	margin-top: 105px;
	padding-top: 400px;
	padding-bottom:  222px;
	background-color: #f8f8f8;

	}

.carrinho{
	font-size: 24px;
	color:#000000;
	margin-top: -385px;
	margin-left: 15px;
}

.caminhao{
margin-top: -8px;
margin-left: 10px;
}

.consulte{
margin-top: -25px;
margin-left: 55px;
color:#FFFFFF;
}

table {
	width: 100%;
}
thead {
	color: white;
	font-weight: 500;
	background-color: #FF6700;
	padding: 2px 6px;
}
tr {
	padding: 10px;
	
}
th{
	padding-right: 50px;
}
input[type="text"] {
	color: black;
	font-weight: 400;
}
.bkt01{
	margin-top: 30px;
}