.carrinho{
	font-size: 24px;
	color:#000000;
	margin-top: -385px;
	margin-left: 15px;
}

.bt_produtos{
	text-align: center;
	font-weight: bold;
	padding: 10px;
	cursor: pointer;
    border: 0;
    outline: 0;
	width: max-content;
	color: #FFFFFF;
	margin-left: 15px;
	margin: 10px 15px;
	background-color: #FF6700;
	display: block;
}
.bt_produtos:hover{
	color: #FFFFFF;
	background-color: #ff8566;
}

.frete{
	background-color: #fb802d;
	margin-top: 10px auto;
	padding: 8px;
}

.caminhao{
margin-top: -8px;
margin-left: 10px;
}

.consulte{
margin-top: -25px;
margin-left: 55px;
color:#FFFFFF;
}

td{
	color:#000000;
}