*{
	margin: 10px;
	position: relative;
}

body{
	display: flex;
	-webkit-box-flex: flex;
	
	font-family: arial,"Hiragino Sans GB";
	background-color: rgb(249, 249, 249);
}
p {
	margin-top: 10px;
	display: block;
}

.conteudo{
    width: 800px;
    background: #FFFFFF;
	float: auto; 
    margin: 10px auto;
    text-align: center; 
    padding: 10px 24px; 
    font-size: 14px;
            
}

label{
	text-align: left;
	top:50%;
	margin-top:-50px;
	margin-left:-225px;
}

label[for="aniversario"] {
	margin-left:-190px;
}

label[for="politicas"] {
	margin-left:10px;
}


input[type="text"], input[type="password"]{
	padding: 10px;
	padding-right: 90px;
}

select {
	padding: 5px;
}

input[type="checkbox"]{
	text-align: left;
	top: 50%;
	margin-top: -50px;
	margin-left: 25px;
}

input[type="submit"]{
	margin: 10px auto;
}
.titulo {
	margin: 10px auto 45px auto;
}
.data{
	text-align: left;
	top: 50%;
	left: 10%;
	margin-top: -50px;
	margin-left: 5px;
}

.botao{
	font-weight: bold;
	padding: 10px;
	cursor: pointer;
    border: 0;
    outline: 0;
	color: #FFFFFF;
	margin: 10px auto;
	background-color: #FF6700;
	padding-right: 100px;
	padding-left: 100px;
	display: block;
}
.botao:hover{
	color: #FFFFFF;
	background-color: #ff8566;
}

.imagem{
	padding: 0px;
	margin: 10px auto;
}